body {
    text-align: center;
}

* {
    box-sizing: border-box;
}

#top_bar {
    display: flex;
    align-items: center;
}

* {
    font-family: Verdana;
}

.menu-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    border-radius: 16px;
    border: 0px;
    background-color: transparent;
}

.menu-btn:hover, .menu-btn-selected {
    background-color: #f4ede2;
}

.menu {
    box-shadow: 0 4px 4px #00000099;
    border-radius: 10px;
}

.menu-item {
    background-color: transparent;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    white-space: nowrap;
    text-align: left;
    font-size: 16px;
    display: flex;
    align-items: center;
}

.menu-item svg {
    margin-right: 10px;
}

.menu-item:hover {
    background-color: #f4ede2;
}

.about-section {
    border-bottom: 1px solid #cccccc;
    padding: 10px 0;
}

.about-section:last-child {
    border-bottom: none;
}

.about-question-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    font-size: 1.2em;
}

.about-question-row svg {
    margin: 0 10px;
}

.about-answer {
    padding: 10px 0;
    display: none;
}

#user-input {
    height: 2em;
    width: 100%;
    border-radius: 5px;
    font-size: 1.25em;
    font-family: Verdana;
    padding: 10px 15px;
}